body {
    background-color: rgb(241, 237, 181);
}

.summary_canvas {
    width: 900px;
    height: 900px;
    background-color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
}

.summary_head {
    display: flex;
}

.block1 {
    flex: 1;
    margin-left: 70px;
}

.block2 {
    margin-left: auto;
    margin-top: 30px;
    margin-right: 70px;
}

.fio {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: rgb(19, 115, 145);
    font-size: 25px;
    font-weight: bold;
}

.job {
    font-weight: bold;
    color: rgb(66, 71, 71);
}

.info {
    color:rgb(117, 117, 117);
    margin: 0;
}

.image {
    border-radius: 150px;
    width: 170px;
    height: 170px;
}

.summary_table {
    width: 800px;
    margin-left: 70px;
    margin-top: 30px;
}

.column1 {
    background-color: rgb(198, 231, 245);
    text-align: right;
    vertical-align: text-top;
    width: 230px;
}

.post1 {
    height: 130px;
}

.text_column1 {
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    margin-right: 20px;
}

.column2 {
    vertical-align: text-top;
}

.text_column2 {
    font-size: 16px;
    font-weight: bold;
    color: rgb(64, 146, 182);
    margin-left: 15px;
}

.text_info {
    font-size: 16px;
    font-weight: bold;
    margin-left: 15px;
}

.post3 {
    height: 80px;
}

.post4 {
    height: 80px;
}

a {
    color: rgb(64, 146, 182);
    font-family: helvetica;
    text-decoration: none;
    text-transform: uppercase;
}